extends layout

block content
  h1= title
  p Welcome to #{title}
  // spells, spellsId
  ul(class="list-group")
    - for(var i = 0; i < spells.length; i++) {
      li(class="list-group-item")
        a(href="#{spellsId[i]}") #{spells[i]}
    - }
